<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dentalapp.dentalapp" >

    <!-- PARSE PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- to receive and apply alarmas after reboot -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".DentalAppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!--
        android:theme="@style/ThemeOverlay.AppCompat.ActionBar" >
         android:theme="@style/Theme.Holo"
        android:theme="@android:style/Theme.Holo.Light"
        -->
        <activity
            android:name=".MainActivity"
            android:label=""
            android:icon="@drawable/logo_blue"
            android:theme="@style/Theme.CustomBar"
            android:screenOrientation="portrait" >
        </activity>

        <!-- FAcebook ACtivity for LoginActivity -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".DispatchActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MoreActivity"
            android:label="@string/more" >
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/title_activity_welcome" >
        </activity>
        <activity
            android:name=".AlarmListActivity"
            android:label="@string/alarms" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about" >
        </activity>

        <receiver android:name=".AlarmManagerHelper" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AlarmService"
            android:enabled="true" />

        <activity
            android:name=".AlarmDetailsActivity"
            android:label="@string/alarms_activity_title"/>
        <activity android:name=".AlarmScreen" />
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_video_player" >
        </activity>
    </application>

</manifest>
